html, body{
    font-family: 'Poppins', sans-serif !important;
}

@media (max-width: 992px) {
    #app-mockup-gw{display: none;}
  }

#gw-logo{
    max-height: 50px;
}

.purple-bg{
    background-image: linear-gradient(to right, #7030F3 , #B38BFF);
}

.gray-bg{
    background-color: #F8F8F8;
}

.center{
    display: flex;
    align-items: center;
}

.navbar-styled{
    align-items: flex-end !important;
}

nav .collapse .show{
    background-color: transparent;
}

.dropdown-custom{
    background-color: white !important;
    position: absolute;
    left: -63px;
}

.pointer{
    cursor: pointer;
}

.navbar-styled .nav-link{
    color: white;
    font-size: 14px;
}

.text-purple, .accordion i, nav .dropdown a:hover{
    color: #7232F3;

}


#btn-entrar{
    color: #7232F3;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
}

.pasqualotto,
.wine-day{
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: bold;
}

#app-mockup{
    max-height: 517px;
    margin-left: 174px;
}

#app-mockup-gw{
    max-height: 517px;
}

#pasqualotto-block{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    color: white;
}

#wine-day-block{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    color: black;
}

#wine-day-block p, #gw-block p, footer p, .card-duvida button, nav .dropdown a{
    color: #9595A3;
}

#pasqualotto-block p, #wine-day-block p{
    margin-bottom: 0.3rem;
}

#pasqualotto-block p:first-of-type{
    margin-top: 1rem;
}

#btn-ver-projeto{
    background-image: linear-gradient(to right, #B38BFF, #7030F3);
    color: white;
    border: 0;
    font-size: 12px;
    margin-top: 2rem;
    padding: 13px 27px 13px 27px;
    font-weight: bold;
    border-radius: 3px;
}

#gw-block{
    height: fit-content;
    padding-bottom: 5rem!important;
}

.gw-features{
    height: 50%;
}

.gw-features i{
    font-size: 29px;
    padding: 20px;
    color: #6B28F2;
}

.gw-features .div-icon-custom i{
    color: white;
}

.div-icon-custom{
    border-radius: 5px;
    width: 71px;
    height: 71px;
    background-image: linear-gradient(to right top, #7030F3, #B38BFF);
}

.div-icon{
    border-radius: 5px;
    width: 71px;
    height: 71px;
    background-color: #F2EFFD;
    border: 1.5px solid #E2D6FC;
}

.row .gw-features .card{
    border: 0
}

.row .gw-features .card-body{
    padding: 0;
    padding-top: 2rem;
}

#duvidas-block .accordion{
    width: 100%;
}

.collapse .show{
    background-color: black;
}

#duvidas-block .card-header{
    border-bottom: 0;
}

#card-duvida-um, #headingOne{
    color: white;
    background-image: linear-gradient(to right, #7030F3, #B38BFF) !important;
}

#card-duvida-um i, #button-duvida-um{
    color: white;
}

.card-duvida{
    border: 0;
    box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.2);
}

.card-duvida .card-header{
    background-color: white;
}

footer{
    color: black;
}

.footer-row{
    padding-top: 6rem!important;
}

footer h5{
    font-weight: bold;
}

.facebook-icon{
    margin-right: 13px;
    position: relative;
    color: #838EAB;
    background-color: #E7EDF7;
    width: 40px;
    border-radius: 100%;
    height: 40px;
}

.instagram-icon{
    position: relative;
    color: white;
    background-color: #6B28F2;
    width: 40px;
    border-radius: 100%;
    height: 40px;
}

.facebook-icon i, .instagram-icon i{
    position: absolute;
    top: 31%;
    left: 36%;
}

.instagram-icon i{
    font-size: 18px;
    top: 29%;
    left: 30%;
}
